body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.hovermeme {
    h1 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    #loader-wrapper {
        display: flex;
        width: 100%;
        height: 0;
        transition: 0.5s ease-in-out;
        justify-content: center;
        visibility: hidden;
        overflow: hidden;
    
        &.active {
          height: 100%;
          visibility: visible;
          overflow: visible;
        }
    }
    
    #uploadImgButton {
        width: 100%;
        transition: height 0.5s ease-out;
    
        &.hidden {
            height: 0;
            visibility: hidden;
        }
    
        img { cursor: pointer; }
    }
    
    #loader {
        border: 10px solid #f3f3f3;
        border-radius: 50%;
        border-top: 10px solid #001e78;
        width: 20px;
        height: 20px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
    }
    
    /* Safari */
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
    
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    input {
        border: 0;
        outline: none;
    }
    
    input[type="text"],
    input[type="email"] {
        padding: 10px;
        width: 100%;
        background-color: #ffed02;
        transition: 0.5 ease-in-out;
    }

    &__content {
        padding: 15px;

        #filename {
            margin-bottom: 20px;
            text-align: center;
            transition: 0.5 ease-in-out;
        }

        &__title {
            font-size: 20px;
            font-weight: bold;
            color: #2e1572;
        }

        &__form {
            padding: 20px;
            flex-direction: column;
            justify-content: center;
            text-align: left;
            margin: 0 auto;
            transition: height 0.5s ease-in-out;

            .button-wrapper {
                text-align: center;
                margin-top: 25px;

                button {
                    padding: 5px 15px;
                    background-color: #ffed02;
                    border: 0;
                    outline: none;
                    cursor: pointer;
                    font-size: 20px;
                    font-weight: bold;

                    &::after {
                        content: ">";
                        display: inline-block;
                        margin-left: 10px;
                    }
                }
            }

            .required-text {
                display: block;
                text-align: left;
                margin-top: 5px;
            }

            label {
                width: 100%;

                &.meme {
                    text-align: center;

                    p {
                        margin-bottom: 5px;
                    }
                }

                &.name,
                &.email,
                &.file {
                    text-align: center;
                    margin-bottom: 20px;
                }

                p {
                    color: #001e78;
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 20px;
                }
            }

            &__terms {
                text-align: left;

                label {
                    display: inline;
                }
            }

            &__meme {
                margin-bottom: 25px;
            }

            label {
                display: block;
            }
            .checkbox__label {
                display: inline;
            }
        }
    }

    .box {
        img {
            height: 52px;
            width: auto;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    .bottom {
        transition: height 0.5s ease-out;
    }
}
